{% extends 'base.html' %}
{% block title %} - FAQ{% endblock %}
{% block content %}
    <h1>Frequently Asked Questions</h1>
    <h2>Why did you make this?</h2>
    Why not?  I have been planning for my own retirement, talking to my
    wonderful financial advisors (Heyo, Brand Asset Management, Group!), and
    thinking a lot in general about how this stuff works.  I would like to
    encourage others to think about it as well.

    <h2>Who is your boss?  What did they do to you?</h2>

    I actually love my boss and my job.  It's a memorable URL and a funny joke.
    It's just a figure of speech, ok?

    <h2>How does this work?</h2>

    There is a pretty good description on the <a href="{{ url_for('about') }}">About</a> page, but the site is also completely open source.  You can view it <a href="https://github.com/terabyte/canitellmybosstofuckoff">here</a> on github.

    <h2>Who are you?</h2>

    I'm just a humble software engineer of unremarkable origin.  You can learn more about me at <a href="http://cmyers.org">my website</a>.

{% endblock %}
