{% extends 'base.html' %}
{% block content %}
<h1>Can I tell my boss to {{ data['variant_map'][data['variant']]['text'] }}?</h1>

    <br/><br/>
    {% if not data['calculate'] %}
        <h1>MAYBE!</h1>
        <br/><br/>
        <h2>Submit the form below to find out...</h2>
    {% else %}
    <h1>{{ data['issuccess'] }}</h1>
        <p>After a gripping mathematical battle (played out {{ data['simulation_size'] }} times), your chance of success was determined to be {{ data['success'] }}%.  Prognosis: {{ data['issuccess'] }}</p>
        {% if data['runtime'] %}
        <p>
        <a href="{{ permlink(data) }}">Permanent (shareable) Link</a>
        <br/>
        <small>Runtime: {{ data['runtime'] }} seconds</small>
        </p>
        {% endif %}
        <br/><br/>
        <h2>Tweak the numbers and try again...</h2>
    {% endif %}
    <br/><br/>
	<p size="small">
	First, a <b><i>very</i></b> important disclaimer!  <b><i>Use the
calculations provided herein for anything beyond your own entertainment only at
your own financial peril.</i></b>  For more, see the full disclaimer in the <a
href="{{ url_for('about') }}">About</a> page.
	</p>
    <form method="post">

        {% for field_name in data['helptext'].keys() %}
            <label for="{{ field_name }}">{{ data['helptext'][field_name]['label'] }}</label>
            <input type="text" id="{{ field_name }}" name="{{ field_name }}" value="{{ data[field_name] }}"/>
            {% if data['helptext'][field_name].get('tt') %}
            <i class="far fa-question-circle" data-toggle="tooltip" title="{{ data['helptext'][field_name]['tt'] }}"></i>
            {% endif %}
            <br/>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button> <a href="{{ url_for('index') }}">clear</a>
    </form>
{% endblock %}
